db_dockerized/opensilex/opensilex.jar
db_dockerized/opensilex/modules/**
db_dockerized/logs/opensilex/opensilex.log
db_dockerized/logs/opensilex/**
db_dockerized/docker_logs/debug.log
db_dockerized/config/opensilex.yml
db_dockerized/debug.log
db_dockerized/dump_scripts/**
db_dockerized/modules/**


full-dockerized/logs/nginx/log/access.log
full-dockerized/logs/nginx/log/error.log
full-dockerized/logs/opensilex/opensilex.log
full-dockerized/logs/opensilex/**
full-dockerized/docker_logs/debug.log
full-dockerized/config/opensilex.yml
full-dockerized/debug.log
full-dockerized/dump_scripts/**
full-dockerized/modules/**


 
full_dockerized/dump_scripts/export_data.sh
full_dockerized/dump_scripts/import_data.sh
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/data.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/data.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/deviceAttribute.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/deviceAttribute.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/file.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/file.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/fs.chunks.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/fs.chunks.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/fs.files.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/fs.files.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/geospatial.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/geospatial.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/germplasmAttribute.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/germplasmAttribute.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/move.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/move.metadata.json
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/provenance.bson
full_dockerized/dump_scripts/demo_dump/mongodb/phis-publictest-2022-12-05/provenance.metadata.json
full_dockerized/dump_scripts/demo_dump/publictest/datafile/**
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/data.bson
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/data.metadata.json
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/deviceAttribute.bson
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/deviceAttribute.metadata.json
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/file.bson
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/file.metadata.json
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/geospatial.bson
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/geospatial.metadata.json
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/germplasmAttribute.bson
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/germplasmAttribute.metadata.json
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/provenance.bson
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/mongodb/vitis-explorer-dev/provenance.metadata.json
full_dockerized/dump_scripts/vitis-explorer-dev/2023-01-31/rdf4j/dump_rdf4j-2023-01-31-base
